$sidebar-width: 280px !default;
$sidebar-collapsed-width: 80px !default;

$header-height: 64px !default;
$footer-height: 64px !default;
/*
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;
*/

body, html, #root {
    height: 100%;
}

.layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;

    &.has-sidebar {
        flex-direction: row;
    }

    .header {
        transition: width, 0.3s;
        height: $header-height;
        min-height: $header-height;
        position: relative;
    }

    .content {
        flex-grow: 1;
    }

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(#000, 0.3);
        z-index: 9999;
        display: none;
    }
}


.layout-sidebar {
    width: $sidebar-width;
    min-width: $sidebar-width;
}
