.layout-selector {
    $selected-color: #03f;
    display: flex;
    flex-wrap: wrap;

    button {
        width: 300px;
        height: 200px;
        margin: 10px;
        border: 3px dotted transparent;
        color: #333;
        font-size: 14px;
        background-color: transparent;

        &:hover {
            border: 3px solid $selected-color;
            color: $selected-color;
            font-weight: bold;
        }
    }

    aside,
    header,
    main,
    footer {
        padding: 5px;
    }

    header {
        background-color: #a5abc3;
    }


    footer {
        background-color: #a5abc3;
    }

    aside {
        background-color: #9198b5;
        width: 100px !important;
        min-width: 100px !important;
    }
}
