$tile-width: 150px;
$tile-height: 90px;

.tiles {
    margin-top: 30px;

    &, ul {
        padding: 0;
        list-style: none;
    }

    li {
        display: inline;
    }

    h5 {
        color: #555;
        margin: 10px;
    }

    a {
        display: inline-block;
        width: $tile-width;
        height: $tile-height;
        text-decoration: none;
        border: 1px solid #ccc;
        margin: 0 10px 20px 10px;
        padding: 10px;
    }
}
