

.sidebar {
    .collapse-show {
        display: none;
    }

    &.collapsed .collapse-show {
        display: initial;
    }

    &.collapsed :hover .collapse-show {
        display: none;
    }

    .collapse-hide {
        display: initial;
    }

    &.collapsed .collapse-hide {
        display: none;
    }

    &.collapsed :hover .collapse-hide {
        display: initial;
    }
}



.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .sidebar-header {
        padding: 10px;
    }

    .sidebar-content {
        flex: 1;
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }


    .divider {
        border-bottom: 1px solid #444;
        margin: 5px 0;
    }

    h5 {
        font-size: 13px;
        font-weight: 600;
        padding: 5px 16px;
        margin: 0;
    }

}

