/*******************/
@mixin errorTheme($palette) {
    $text: map-get($palette, text);
    $bg: map-get($palette, bg);

    $primary-palette: map-get($palette, primary);
    $primary: map-get($primary-palette, main);

    $error-palette: map-get($palette, error);
    $error: map-get($error-palette, main);
}

/*******************/
.theme-bd.theme-light {
    $palette: map-get($theme, light);
    @include errorTheme($palette);
}

.theme-bd.theme-dark {
    $palette: map-get($theme, dark);
    @include errorTheme($palette);
}
