//https://react-table.tanstack.com/docs/examples/full-width-resizable-table

.bd-table {
    border-spacing: 0;
    overflow-y: hidden !important;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    tr {
        min-height: 32px;
    }

    td,
    th {
        padding: 0.25rem 0.5rem;
        min-height: 1.75rem;
    }

    th,
    td {
        align-items: center;
        overflow: hidden;
        min-width: 30px;
        flex: 0 0 auto;
        white-space: nowrap;
    }

    .nothing-found {
        padding: 1rem;
        text-align: center;
        opacity: 0.6;
    }
}

.bd-table-border-row {
    thead {
        border-bottom: 1px solid #000;
    }

    thead th {
        margin-bottom: -1px;
    }

    .bd-tfoot {
        border-top: 1px solid #000;
    }

    .bd-tfoot tr {
        margin-top: -1px;
    }

    .bd-tfoot th {
        border-top: 1px solid #000;
    }

    tr th,
    tr td {
        border-bottom: 1px solid #000;
        height: auto !important;
    }

    tr:last-child td,
    .bd-tfoot tr:last-child th {
        border-bottom: 0;
    }

    thead th {
        @include borderEnd(1px solid #000);
    }

    th:last-child,
    td:last-child {
        @include borderEnd(1px solid #000);
    }
}

/*
************************
*/

//
.bd-table-border-table-row > table {
    border: 1px solid #000;
}

.bd-table-bordered > table {
    border: 1px solid #000;

    tfoot {
        border-top: 1px solid #000;
    }

    th,
    td {
        @include borderEnd(1px solid #000);

        &:last-child {
            @include borderEnd(0);
        }
    }

    tr th,
    tr:nth-child(even) td {
        border-bottom: 1px solid #000;
        height: auto !important;
    }

    tr:last-child td {
        border-bottom: 0;
    }
}

//
.bd-table-border-row > table {
    border: 1px solid #000;

    tfoot {
        border-top: 1px solid #000;
    }

    tr th,
    tr:nth-child(even) td {
        border-bottom: 1px solid #000;
        height: auto !important;
    }

    tr {
        &:last-child {
            td {
                border-bottom: 0;
            }
        }
    }
}

.bd-table-selectable {
    cursor: default;
}

/*******************/
@mixin tableTheme($palette) {
    $text: map-get($palette, text, main);
    $bg: map-get($palette, bg, main);

    $primary-palette: map-get($palette, primary);
    $primary: map-get($primary-palette, main);

    $secondary-palette: map-get($palette, secondary);
    $secondary: map-get($secondary-palette, main);

    $focus-border: mix($bg, $primary, 10%); //#86b7fe

    $main-border: mix($text, $bg, 25%);
    $border: mix($text, $bg, 15%);

    $bg-header: mix($text, $bg, 6%);
    $bg-row: mix($text, $bg, 2.5%);
    $hover: mix($primary, $bg, 10%);
    $hover: mix($text, $hover, 0%);
    $hover: rgba($primary, 0.08);

    .bd-table {
        border-color: $main-border;

        & tr.selected td {
            background-color: $hover;
            border-bottom: 1px solid $primary;
        }

        thead,
        .bd-tfoot {
            background-color: $bg-header;
            border-color: $main-border;
        }

        th {
            background-color: $bg-header;
            border-color: $main-border;
        }

        th,
        td {
            border-left-color: $main-border;
            border-right-color: $main-border;
        }

        th:last-child,
        td:last-child {
            border-left-color: $main-border;
            border-right-color: $main-border;
        }

        td {
            border-color: $border;
        }

        .bd-tbody tr:hover {
            td,
            th {
                background-color: rgba($text, 4%);
            }
        }
    }
}

/*******************/
.theme-bd.theme-light {
    $palette: map-get($theme, light);
    @include tableTheme($palette);
}

.theme-bd.theme-dark {
    $palette: map-get($theme, dark);
    @include tableTheme($palette);
}
