.bd-table {
    overflow: auto;
    //border: 1px solid #555;

    table {
        border-spacing: 0;
    }

    .header-label {
        padding: 0 0.5rem;
        height: 32px !important;
        display: flex;
        align-items: center;
    }

    .header-filter {
        padding: 0 0.25rem;
        height: 36px !important;
        display: flex;
        align-items: center;
    }

    td {
        padding: 0 0.5rem;
        height: 32px !important;
    }

    //
    .grid-editor {
        padding: 4px 8px;
        width: 100%;
        background-color: transparent !important;
        //border: 0;
        color: inherit;
        margin: 2px 0;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

.bd-table-popin {
    margin: 0;

    & > * {
        padding: 0;
    }

    .form-control {
        width: auto;
        display: inline-block;
        border: 1px solid #000;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

@media (min-width: $breakpoint-xl) {
    .popin-row-lg .bd-table-popin {
        display: none;
    }
}

@media (min-width: $breakpoint-lg) {
    .popin-row-md .bd-table-popin {
        display: none;
    }
}

@media (min-width: $breakpoint-md) {
    .popin-row-sm .bd-table-popin {
        display: none;
    }
}

//
.bd-table-border-table-row > table {
    border: 1px solid #000;
}

.bd-table-bordered > table {
    border: 1px solid #000;

    tfoot {
        border-top: 1px solid #000;
    }

    th,
    td {
        @include borderEnd(1px solid #000);

        &:last-child {
            @include borderEnd(0);
        }
    }

    tr th,
    tr:nth-child(even) td {
        border-bottom: 1px solid #000;
        height: auto !important;
    }

    tr:last-child td {
        border-bottom: 0;
    }
}

//
.bd-table-border-row > table {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    tfoot {
        border-top: 1px solid #000;
    }

    tr th,
    tr:nth-child(even) td {
        border-bottom: 1px solid #000;
        height: auto !important;
    }

    tr {
        &:last-child {
            td {
                border-bottom: 0;
            }
        }
    }
}

.bd-table-selectable {
    cursor: default;
}

.bd-table-bottom {
    display: flex;
    align-items: center;
}

.bd-table-statusbar {
}

.bd-table-info {
    white-space: nowrap;
}

.bd-table-pagination {
    display: inline-flex;
    justify-content: end;
    align-items: center;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
}

/*******************/
@mixin tableTheme($palette) {
    $text: map-get($palette, text);
    $bg: map-get($palette, bg);

    $primary-palette: map-get($palette, primary);
    $primary: map-get($primary-palette, main);

    $secondary-palette: map-get($palette, secondary);
    $secondary: map-get($secondary-palette, main);

    $focus-border: mix($bg, $primary, 10%); //#86b7fe

    $main-border: mix($text, $bg, 32%);
    $border: mix($text, $bg, 15%);

    $bg-header: rgba($text, 5%);
    $bg-row: mix($text, $bg, 2.5%);
    $hover: mix($primary, $bg, 10%);
    $hover: mix($text, $hover, 0%);
    $hover: rgba($primary, 0.08);

    .bd-table {
        table {
            border-color: $main-border;

            & tr.selected td {
                background-color: $hover;
            }

            & tr.selected:nth-child(even) td {
                border-bottom: 1px solid $primary;
            }
        }

        thead,
        tfoot {
            border-color: $main-border;
        }

        td {
            border-color: $border;
        }

        th {
            background-color: $bg-header;
            border-color: $main-border;
        }

        tbody tr:hover {
            background-color: rgba($text, 4%);
        }
    }

    //
    .bd-table-primary {
    }
}

/*******************/
.theme-bd.theme-light {
    $palette: map-get($theme, light);
    @include tableTheme($palette);
}

.theme-bd.theme-dark {
    $palette: map-get($theme, dark);
    @include tableTheme($palette);
}
