.bd-table-div-container {
    display: flex;
    flex-direction: column;
}

.bd-table-div {
    $row-height: 34px;

    border-spacing: 0;
    overflow: auto !important;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    flex-grow: 1;
    position: relative;

    .selection-column {
        padding: 0 !important;
        width: 50px;
        display: inline-flex;
        justify-content: center;
    }

    &.bd-table-resizable .selection-column {
        @include borderEnd(1px solid #000);
    }

    .header-label {
        padding: 0 0.5rem;
        height: $row-height !important;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .header-filter {
        padding: 0 0.25rem;
        height: 36px !important;
        display: flex;
        align-items: center;
    }

    .tr {
        display: flex;
        min-height: $row-height;
    }

    .th {
        user-select: none;
    }

    .td {
        padding: 0 0.5rem;
        //height: 32px !important;
    }

    .th,
    .td {
        display: inline-flex !important;
        align-items: center;
        overflow: hidden;
        flex: 0 0 auto;
        white-space: nowrap;
    }

    .pre {
        margin: 0;
        padding: 5px 0;
        white-space: pre;
        max-height: 100px;
        width: 100%;
        overflow: auto;
    }

    textarea {
        height: 60px;
        font-size: 12px;
    }

    //
    .table-editor {
        padding: 4px 8px;
        width: 100%;
        color: inherit;
        margin: 2px 0;
        //padding-top: 0.25rem;
        //padding-bottom: 0.25rem;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .resizer {
        display: inline-block;

        width: 6px;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        transform: translateX(50%);
        z-index: 1;
        touch-action: none;
        user-select: none;
    }

    &.selectable .td {
        cursor: pointer;
    }

    .nothing-found {
        padding: 1rem;
        text-align: center;
        opacity: 0.6;
    }

    //
    //
    //
    .thead {
        position: sticky;
        top: 0;
        z-index: 1;
        border-bottom: 1px solid #000;
    }

    &.sticky-footer .tfoot {
        position: sticky;
        bottom: 0;
    }

    .thead .th {
        margin-bottom: -1px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 10px;
            bottom: 10px;
            @include positionStart(0);
            @include borderStart(1px solid currentColor);
        }

        &:first-child:before {
            display: none;
        }
    }

    .tfoot {
        border-top: 1px solid #000;
    }

    .tfoot .tr {
        margin-top: -1px;
    }

    .tfoot .th {
        border-top: 1px solid #000;
    }

    .tr .th,
    .tr .td {
        border-bottom: 1px solid #000;
        height: auto !important;
    }

    .tr:last-child .td,
    .tfoot .tr:last-child .th {
        border-bottom-color: transparent !important;
    }

    &.bd-table-resizable {
        .thead .th {
            @include borderEnd(1px solid #000);
        }
    }

    &.has-whitespace {
        .th:last-child,
        .td:last-child {
            @include borderEnd(1px solid #000);
        }
    }
}

.bd-table-bottom {
    display: flex;
    align-items: center;
}

.bd-table-info {
    padding-top: 0.25rem;
    white-space: nowrap;
}

.bd-table-pagination {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
}

/*
************************
*/
.bd-table-popin {
    margin: 0;

    & > * {
        padding: 0;
    }

    .form-control {
        width: auto;
        display: inline-block;
        border: 1px solid #000;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}

@media (min-width: $breakpoint-xl) {
    .popin-row-lg .bd-table-popin {
        display: none;
    }
}

@media (min-width: $breakpoint-lg) {
    .popin-row-md .bd-table-popin {
        display: none;
    }
}

@media (min-width: $breakpoint-md) {
    .popin-row-sm .bd-table-popin {
        display: none;
    }
}

/*******************/
@mixin tableTheme($palette) {
    $text: map-get($palette, text, main);
    $bg: map-get($palette, bg, main);

    $primary-palette: map-get($palette, primary);
    $primary: map-get($primary-palette, main);

    $secondary-palette: map-get($palette, secondary);
    $secondary: map-get($secondary-palette, main);

    $focus-border: mix($bg, $primary, 10%); //#86b7fe

    $main-border: mix($text, $bg, 25%);
    $border: mix($text, $bg, 15%);

    $bg-header: mix($text, $bg, 6%);
    $bg-row: mix($text, $bg, 2.5%);
    $bg-selected: mix($primary, $bg, 15%);

    .bd-table-div {
        border-color: $main-border;

        &.border {
            border-color: $main-border !important;
        }

        .thead,
        .tfoot {
            background-color: $bg-header;
            border-color: $main-border;
        }

        .th {
            background-color: $bg-header;
            border-color: $main-border;
        }

        .th,
        .td {
            border-left-color: $main-border;
            border-right-color: $main-border;
        }

        .th:before {
            color: $main-border;
        }

        .th:last-child,
        .td:last-child {
            border-left-color: $main-border;
            border-right-color: $main-border;
        }

        .td {
            border-color: $border;
        }

        &.has-whitespace {
            .td {
                background-color: $bg;
            }
            .tr:last-child .td,
            .tfoot .tr:last-child .th {
                border-bottom-color: $main-border !important;
            }
        }

        .tbody .tr.selected .td {
            background-color: $bg-selected !important;
            border-bottom: 1px solid $primary !important;
        }
    }

    .bd-table-striped {
        .tbody .tr:nth-child(even) .td {
            background-color: rgba($text, 0%);
        }
    }

    .bd-table-hover {
        .tbody .tr:hover .td {
            background-color: rgba($text, 5%);
        }
        .tbody .tr:hover.selected .td {
            background-color: mix($text, $bg-selected, 5%) !important;
        }
    }
}

/*******************/
.theme-bd.theme-light {
    $palette: map-get($theme, light);
    @include tableTheme($palette);
}

.theme-bd.theme-dark {
    $palette: map-get($theme, dark);
    @include tableTheme($palette);
}
