.min-h-100 {
    min-height: 100%;
}

.modal-1024 {
    max-width: 1100px;
}

@import "node_modules/react-basic-design/dist/index.scss";

@import "./components/forms/form.scss";
@import "./components/filters/filters.scss";
@import "./components/basic-form/basic-form.scss";

@import "./components/table/table.scss";
@import "./components/table/table-div.scss";
@import "./components/tilemenu/tilemenu.scss";
@import "./components/scss/utils.scss";

html,
body,
#root {
    height: 100%;
}

/*
    Layout
*/
.theme-light {
    main.content {
        background-color: #f7f8f9;
    }
}

/*
*/
.Toastify__toast {
    font-family: inherit !important;
    direction: inherit !important;
}

/*
landing
*/

.landing {
    color: #333;

    .appbar-default {
        color: inherit !important;
    }
}

.features {
    background-color: #fff;
    color: #333;
    p {
        padding: 20px 0 30px 0;
    }
}

.page-footer {
    padding: 40px 0 20px 0;
    text-align: center;
    color: #ccc;
    background-color: #333;

    .links {
        padding: 0;

        li {
            display: inline-block;
            list-style: none;
            padding: 5px 10px;
            a {
                color: #acf;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
