$tile-width: 150px;
$tile-height: 100px;

.tilemenu {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 14px;
    list-style: none;

    // ROOT

    & > li.mi-folder + .mi-folder {
        margin-top: 15px;
    }

    .mi-folder > div {
        display: inline-block;
        padding: 10px 0;

        span {
            margin: 5px;
        }
    }

    .mi-menu {
        display: inline-block;

        .mi-item {
            a {
                display: inline-block;
                text-decoration: none;
                width: $tile-width;
                height: $tile-height;
                margin: 0 5px 10px 5px;
                padding: 8px 10px;

                span {
                    line-height: 1.25rem;
                }
            }
        }
    }

    ul {
        padding: 0;
        list-style: none;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
    }
}

/*******************/
@mixin tilemenuTheme($palette) {
    $text: map-get($palette, text, main);
    $bg: map-get($palette, bg, main);

    $primary-palette: map-get($palette, primary);
    $primary: map-get($primary-palette, main);
    $primary-text: map-get($primary-palette, text);

    $secondary-palette: map-get($palette, secondary);
    $secondary: map-get($secondary-palette, main);

    $focus-border: mix($bg, $primary, 10%); //#86b7fe

    $main-border: mix($text, $bg, 32%);
    $border: mix($text, $bg, 15%);

    $text: mix($bg, $text, 20%);
    $border: rgba($text, 20%);
    $hover: mix($primary, $bg, 5%);

    .tilemenu {
        .mi-folder {
            color: $primary;
        }

        .mi-menu {
            .mi-item {
                a {
                    border: 1px solid $border;
                    background-color: $bg;
                    color: $text;

                    &:hover {
                        background-color: $hover;
                    }
                }
            }
        }

        .mi-selected {
            div,
            a {
                padding: 8px 10px;
                background-color: $primary !important;
                color: $primary-text !important;
            }
        }
    }
}

/*******************/
.theme-bd.theme-light {
    $palette: map-get($theme, light);
    @include tilemenuTheme($palette);
}

.theme-bd.theme-dark {
    $palette: map-get($theme, dark);
    @include tilemenuTheme($palette);
}
