.bd-input {
    $icon-width: 32px;

    position: relative;

    .icon1,
    .icon2 {
        position: absolute;
        width: 32px;
        top: 1px;
        bottom: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        cursor: pointer;

        @include positionEnd(1px);
    }

    .icon2 {
        @include positionEnd($icon-width + 1px);
    }

    .form-control {
        color: currentColor;

        &.has-icon {
            @include paddingEnd($icon-width);
        }

        &.has-2-icon {
            @include paddingEnd($icon-width * 2);
        }

        &::placeholder {
            color: currentColor;
            opacity: 0.42;
        }
    }
}

.bd-form-dense {
    .form-control {
        height: 1.75rem;
        @include paddingStart(8px);
    }

    .btn {
        height: 1.75rem;
    }
}
/*
.form-control.densed {
    height: 1.75rem;
}

.btn.densed {
    height: 1.75rem;
}*/

/*******************/
@mixin basicForm($palette) {
    $text: map-get($palette, text, main);
    $bg: map-get($palette, bg, main);

    $primary-palette: map-get($palette, primary);
    $primary: map-get($primary-palette, main);

    $error-palette: map-get($palette, error);
    $error: map-get($error-palette, main);

    $border: mix($bg, $text, 70%);
    $icon: mix($text, $primary, 40%);

    .bd-input {
        border-color: $border;

        &:hover {
            border-color: $primary;
        }

        .icon1,
        .icon2 {
            color: $icon;

            &:hover {
                background-color: mix($bg, $primary, 85%);
            }

            &:active {
                background-color: $icon;
                color: $bg;
            }
        }
    }
}

/*******************/
.theme-bd.theme-light {
    $palette: map-get($theme, light);
    @include basicForm($palette);
}

.theme-bd.theme-dark {
    $palette: map-get($theme, dark);
    @include basicForm($palette);
}
